.Avatar {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    display: inline-flex;
}

.fallback {
    background-color: var(--medium);
    display: flex;
    justify-content: center;
    align-items: center;
}