.Parks {}

.parkPreview {
    width: 300px;
    overflow-wrap: break-word;
}

.previews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1.5rem;
    overflow-y: scroll;
    max-height: 1200px;

    @media screen and (max-width: 480px) {
        display: block;
    }
}

.columns {
    display: flex;

    @media screen and (max-width: 480px) {
        flex-direction: column-reverse;
    }
}

.mapContainer {
    border-left: 2px solid #dbdbdb;
    flex: 1;

    @media screen and (max-width: 480px) {
        min-height: 400px;
    }
}