.BusinessDetails {
    display: flex;
}

.avatar {
    margin-right: 6rem;
}

.details {
    // display: grid;
    // grid-template-rows: 1fr 1fr 1fr;

    &>* {
        margin: 2rem 0;
    }
}

.postCount {
    display: flex;

    :first-child {
        margin-right: .5rem;
    }
}

.sponsors {
    display: flex;

    :first-child {
        margin-right: .5rem;
    }
}

.riders {}

.riderCards {
    display: flex;

    &>* {
        margin-right: .5rem;
    }
}

.names {
    &:hover {
        color: var(--pink);
        font-weight: bold;
    }
}