@import "./reset.css";

main {
  height: 100vh;
}

body {
  overscroll-behavior: none;
  font-size: 16px;
}

input {
  font-family: sans-serif
}

:root {
  --black: #414850;
  --light-gray: #dbdbdb;
  --gray: #999;
  --dark: #0d3b66;
  --medium: #065a82ff;
  --accent: #ce7da5ff;
  --light-bg: rgb(247, 247, 247);
  --light-bg-hover: rgb(227, 227, 227);
  --light: #f9fdfb;

  --purple: #cdb4db;
  --light-pink: #ffdfe9;
  --pink-hover: #fb749f;
  --pink: #ff5d8f;
  --light-blue: #bde0fe;
  --blue: #a2d2ff;
  --white: #fff6f9;

  --br-small: 0.5rem;
  --br-medium: 1.25rem;
  --br-large: 2rem;




  /* CSS HEX */
  --celeste: #c5fffdff;
  --non-photo-blue: #88d9e6ff;
  --lapis-lazuli: #065a82ff;
  --thulian-pink: #ce7da5ff;
  --apricot: #ffd1baff;

  /* CSS HSL */
  --celeste: hsla(178, 100%, 89%, 1);
  --non-photo-blue: hsla(188, 65%, 72%, 1);
  --lapis-lazuli: hsla(199, 91%, 27%, 1);
  --thulian-pink: hsla(330, 45%, 65%, 1);
  --apricot: hsla(20, 100%, 86%, 1);

  /* SCSS HEX */
  $celeste: #c5fffdff;
  $non-photo-blue: #88d9e6ff;
  $lapis-lazuli: #065a82ff;
  $thulian-pink: #ce7da5ff;
  $apricot: #ffd1baff;

  /* SCSS HSL */
  $celeste: hsla(178, 100%, 89%, 1);
  $non-photo-blue: hsla(188, 65%, 72%, 1);
  $lapis-lazuli: hsla(199, 91%, 27%, 1);
  $thulian-pink: hsla(330, 45%, 65%, 1);
  $apricot: hsla(20, 100%, 86%, 1);

  /* SCSS RGB */
  $celeste: rgba(197, 255, 253, 1);
  $non-photo-blue: rgba(136, 217, 230, 1);
  $lapis-lazuli: rgba(6, 90, 130, 1);
  $thulian-pink: rgba(206, 125, 165, 1);
  $apricot: rgba(255, 209, 186, 1);

  /* SCSS Gradient */
  $gradient-top: linear-gradient(0deg, #c5fffdff, #88d9e6ff, #065a82ff, #ce7da5ff, #ffd1baff);
  $gradient-right: linear-gradient(90deg, #c5fffdff, #88d9e6ff, #065a82ff, #ce7da5ff, #ffd1baff);
  $gradient-bottom: linear-gradient(180deg, #c5fffdff, #88d9e6ff, #065a82ff, #ce7da5ff, #ffd1baff);
  $gradient-left: linear-gradient(270deg, #c5fffdff, #88d9e6ff, #065a82ff, #ce7da5ff, #ffd1baff);
  $gradient-top-right: linear-gradient(45deg, #c5fffdff, #88d9e6ff, #065a82ff, #ce7da5ff, #ffd1baff);
  $gradient-bottom-right: linear-gradient(135deg, #c5fffdff, #88d9e6ff, #065a82ff, #ce7da5ff, #ffd1baff);
  $gradient-top-left: linear-gradient(225deg, #c5fffdff, #88d9e6ff, #065a82ff, #ce7da5ff, #ffd1baff);
  $gradient-bottom-left: linear-gradient(315deg, #c5fffdff, #88d9e6ff, #065a82ff, #ce7da5ff, #ffd1baff);
  $gradient-radial: radial-gradient(#c5fffdff, #88d9e6ff, #065a82ff, #ce7da5ff, #ffd1baff);
}