.FileInput {
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    text-transform: uppercase;
    height: 3rem;
    padding: 0 1rem;

    &:hover {
        background-color: var(--light-bg);
    }

    input[type="file"] {
        display: none;

    }

    label {

        font-family: sans-serif;
        background-color: transparent;
        color: black;
        cursor: pointer;
    }
}