.Header {
    height: 80px;
    border-bottom: 2px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--light-bg)
}

.account {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 1.25rem !important;
    }
}