.NavBar {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
  color: var(--black);
  cursor: pointer;

  &:hover {
    color: var(--pink);
    border-bottom: 2px solid var(--pink);
  }
}

@media screen and (max-width: 480px) {
  .header {
    display: none;
  }
}