.FeedPost {
    border-bottom: 2px solid #dbdbdb;
    padding: 1rem 0;
}

.header {
    display: flex;
    margin: .5rem 0;
    align-items: center;
}


.imageContainer {
    height: 450px;
    width: 450px;
    position: relative;
}

.details {
    margin-left: .5rem;
}

.name {
    display: flex;
    margin-bottom: .25rem;

    &>* {
        margin-right: 0 .25rem;
    }
}

.content {
    margin: 1rem 0;
    display: flex;

    &>* {
        margin: 0 .175rem;
    }
}

.username {
    margin-right: .25rem;
}