.commentForm {
  display: flex;
  margin: 0.5rem 0;
  width: 100%;
  justify-content: space-between;
}

.Post {
  width: 470px;
  max-height: 780px;
  background-color: var(--light-bg);
}

.postHeader {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.postDetails {
  padding: 0.5rem;
}
